<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  	<!-- Compiled and minified JavaScript -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>     
</head>
<body>
<div class="container">
  <div class="row center-align">
  	<h1 class="header">Coupon API v1.0.0</h1>
   	<a href="/transaction">Click me to go to Transactions</a>
  </div>
</div>
	
</body>
</html>