<!DOCTYPE html>
<html>
<head>
	<title>Payment</title>
	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  	<!-- Compiled and minified JavaScript -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>     
</head>
<body>
<div class="container">
  <h2 class="header">Enter coupon code</h2>
  <div class="row">
    <div class="input-field col s12">
      <input placeholder="Coupon code" id="couponcode" type="text" class="validate">
    </div>
  </div>
  <div class="row">
    <div class="col s12 right-align">
      <a href="#" class="waves-effect waves-light btn-large">Pay using this coupon</a>
    </div>
  </div>
</div>
	
</body>
</html>