<!DOCTYPE html>
<html>
<head>
	<title>Payment</title>
	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  	<!-- Compiled and minified JavaScript -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>     
</head>
<body>
<div class="container">
  <h2 class="header">Enter coupon code</h2>
  <div class="row">
    <form method="post" action="/success">
      <div class="input-field col s12">
        <input placeholder="Coupon code" id="couponcode" type="text" name="couponCode" class="validate" value={{cc}}>
        <input type="hidden" name="transId" value={{transId}}>
      </div>
      <button class="btn waves-effect waves-light" type="submit">Pay using this coupon</button>
    </form>
  </div>
</div>
	
</body>
</html>